<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'layout/voting/head.html' %}
      <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
</head>
<body class="hold-transition skin-blue layout-top-nav" 
style="height: auto; min-height: 100%;">
    {% include 'layout/voting/header.html' %}   
    {% block content %} {% endblock %}     
    {% include 'layout/voting/footer.html' %}    
</body>
</html>