{% extends 'layout/dashboard/index.html' %} 
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Edit Data Pekerja Organisasi 
    </h1>
    <ol class="breadcrumb">
    </ol>
  </section>
  <br>
  <section class="content-header"></section>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"> Data Pekerja</h3>
    </div>
    <!-- <div class="container"> -->
      <div class="box-body">
        <form action="{% url 'data_pekerja:update_pekerja' pekerja.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input name="user" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Username" type="email" value="{{pekerja.user}}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name = "password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Password" type="password" value="">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">NIP</label>
                <input name = "nip" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Nip" 
                type="number" value="{{pekerja.nip}}" >
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nama Perusahaan</label>
                <input name = "nama_ptp" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Nama PTP" value="{{pekerja.nama_ptp}}">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nama Pekerja</label>
                <input name = "nama" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Nama Pekerja" value="{{pekerja.nama}}" >
              </div>
              <div class="form-group">
                <label for="" class="control-label">Tanggal Lahir</label>
                <input required type="text" id="date" class="form-control" name="tgl_lahir" value="{{pekerja.tgl_lahir}}" readonly>
                {% comment %} {{form.tanggal_lahir | add_class:"form-control" |append_attr:"placeholder:Input Register Number" |append_attr:"id:date" |append_attr:"readonly"}} {% endcomment %}
              </div> 
              <div class="form-group">
                <label for="exampleInputEmail1">Alamat</label>
                <textarea name = "alamat" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Alamat Anda"  required>{{pekerja.alamat}}
                </textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Jenis Kelamin</label>
              </div>
              <div class="form-group">
                <input required type="radio" name="jenis_kelamin" value="Pria" {% if pekerja.jenis_kelamin == 'Pria' %} checked {% endif %}>Laki - Laki &nbsp; &nbsp; &nbsp;
                <input required type="radio" name="jenis_kelamin" value="Wanita" {% if pekerja.jenis_kelamin == 'Wanita' %} checked {% endif %}> Perempuan
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Agama</label>
                <input name = "agama" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Agama" value="{{pekerja.agama}}" >
              </div>
              <div class="form-group">
                <label for="" class="control-label">Status</label>
              </div>
              <div class="form-group">
                <input required type="radio" name="status" value="Kawin" {% if pekerja.status == 'Kawin' %} checked {% endif %}>Kawin &nbsp; &nbsp; &nbsp;
                <input required type="radio" name="status" value="Belum Kawin" {% if pekerja.status == 'Belum Kawin' %} checked {% endif %} value="{{pekerja.status}}"> Belum Kawin
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" onclick="jbtn()">
                <label for="" class="control-label">Jabatan</label><br/>
                <input required type="radio" name="jabatan" value="ketua"  {% if pekerja.Pkos.jabatan == 'ketua' %} checked {% endif %}> Ketua &nbsp;
                <input required type="radio" name="jabatan" value="sekjend" {% if pekerja.Pkos.jabatan == 'sekjend' %} checked {% endif %}> Sekjen &nbsp;
                <input required type="radio" name="jabatan" value="pengurus" {% if pekerja.Pkos.jabatan == 'pengurus' %} checked {% endif %}> Pengurus Harian
              </div>
              <div class="form-group">
                <label for="" class="control-label">Nilai PKO</label><br/>
                <input type="text" class="form-control" id="pko" name="nilai" value="{{pekerja.Pkos.nilai}}" required>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Kehadiran</label>
                <input type="number" class="form-control" name="kehadiran"  required id="kehadiran" onkeyup="dspl()"value="{{pekerja.Disiplins.kehadiran}}">
              </div>
              <div class="form-group">
                <label for="" class="control-label">Pelanggaran</label>
                <input type="number" class="form-control" name="pelanggaran"  required id="pelanggaran" onkeyup="dspl()" value="{{pekerja.Disiplins.pelanggaran}}">
              </div>
              <div class="form-group">
                <label for="" class="control-label">Nilai Disiplin</label> 
                <input type="text" class="form-control" id="dsp" name="nilaidp" value="{{pekerja.Disiplins.nilai}}" required>
              </div>
              <div class="form-group" onclick="kes()">
                <label for="" class="control-label">Kesehatan</label><br/>
                <input required type="radio" name="status_kes" value="Sehat"{% if pekerja.Kesehatans.status_kes == 'Sehat' %} checked {% endif %}> Sehat &nbsp;
                <input required type="radio" name="status_kes" value="Tidak Sehat" {% if pekerja.Kesehatans.status_kes == 'Tidak Sehat' %} checked {% endif %}> Tidak Sehat
              </div>
              <div class="form-group">
                <label for="" class="control-label">Nilai Kesehatan</label> 
                <input type="text" class="form-control" id="kes" name="nilaikh" value="{{pekerja.Kesehatans.nilai}}" required>
              </div>
              <div class="form-group">
               <label for="" class="control-label">Intelegensi</label>
               <input type="number" class="form-control" name="intelegensi"  required id="intelegensi" onkeyup="psi()" value="{{pekerja.Psikotess.intelegensi}}">
             </div>
             <div class="form-group">
               <label for="" class="control-label">Kepribadian</label>
               <input type="number" class="form-control" name="kepribadian"  required id="kepribadian" onkeyup="psi()" value="{{pekerja.Psikotess.kepribadian}}">
             </div>
             <div class="form-group">
              <label for="" class="control-label">Nilai Psikotes</label> 
              <input type="text" class="form-control" id="psk" name="nilaipsk" value="{{pekerja.Psikotess.nilai}}" required>
            </div>
          </div>

          <div class="col-md-4">
           <div class="form-group">
            <label for="" class="control-label">Teori</label>
            <input type="number" class="form-control" name="teori"  required id="teori" onkeyup="pet()" value="{{pekerja.Petaduas.teori}}">
          </div>
          <div class="form-group">
            <label for="" class="control-label">Praktik</label>
            <input type="number" class="form-control" name="praktek"  required id="praktek" onkeyup="pet()" value="{{pekerja.Petaduas.praktek}}">
          </div>
          <div claseditbios="form-group">
            <label for="" class="control-label">Nilai Pendidika Tahap Dua</label>
            <input type="text" class="form-control" id="pt2" name="nilaipt2" value="{{pekerja.Petaduas.nilai}}" required>
          </div>
          <br/>
          <div class="col-md-4 col-sm-4">
            <img src="{{pekerja.gambar.url}}" id="picture" alt="" style="width: 100%; height: auto; border: 1px #d5d8dc solid; margin-top: 6px;">
            <a class="btn btn-success btn-block" style="margin-top: 8px; margin-bottom: 8px;" onclick="document.getElementById('fileInput').click();">
              Upload Soal Gambar
              <i class="fa fa-upload"></i>
            </a>
          
        </div>
        <div class="form-group">
          <input id="fileInput" name='picture' type="file" style="display:none;" accept="image/*" />
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success pull-right" style="margin-left: 8px;">Simpan</button>
      </div>
    </form>
    <!-- </div> -->

  </div>
</div>
</div>

<script type="text/javascript">
  $('#date').datepicker();
  $(document).ready(function() {
    $('#example1').DataTable( {
      "lengthMenu": [[5, 10, 25, 50, ], [5, 10, 25, 50,]]
    } );
  } );
</script>
<script >
    // pkko = document.querySelector('input[name="jabatan"]:checked').value;
    function jbtn(){
      var pko = document.getElementById('pko');
      let pkko = Array.from(document.getElementsByName("jabatan")).find(r => r.checked).value;
      if (pkko == 'ketua'){
        pko.value = 1;
      }else if(pkko == 'sekjend'){
        pko.value = 2;
      }else if(pkko == 'pengurus'){
        pko.value = 4;
      }
    }
    function dspl(){
      var dsp = document.getElementById('dsp');
      var hadir = document.getElementById('kehadiran');
      var langgar = document.getElementById('pelanggaran');
      var hasil = (parseInt(hadir.value) + parseInt(langgar.value))/2;
      if(hasil > 90){
        dsp.value = 1;
      }else if(hasil > 80){
        dsp.value = 2;
      }else if(hasil > 70){
        dsp.value = 3;
      }else{
        dsp.value = 4;
      }
    }
    function kes(){
      var kes = document.getElementById('kes');
      let shtt = Array.from(document.getElementsByName("status_kes")).find(r => r.checked).value;
      if (shtt == 'Sehat'){
        kes.value = 1;
      }else if(shtt == 'Tidak Sehat'){
        kes.value = 4;
      }
    }
    function psi(){
      var psk = document.getElementById('psk');
      var intel = document.getElementById('intelegensi');
      var kep = document.getElementById('kepribadian');
      var hasil = (parseInt(intel.value) + parseInt(kep.value))/2;
      if(hasil > 90){
        psk.value = 1;
      }else if(hasil > 80){
        psk.value = 2;
      }else if(hasil > 70){
        psk.value = 3;
      }else{
        psk.value = 4;
      }
    }
    function pet(){
      var pt2 = document.getElementById('pt2');
      var teo = document.getElementById('teori');
      var prak = document.getElementById('praktik');
      var hasil = (parseInt(teo.value) + parseInt(prak.value))/2;
      if(hasil > 90){
        pt2.value = 1;
      }else if(hasil > 80){
        pt2.value = 2;
      }else if(hasil > 70){
        pt2.value = 3;
      }else{
        pt2.value = 4;
      }
    }
  </script>


  <script>
    toastr.success('{{message}}')

    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#picture').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#fileInput").change(function () {
      readURL(this);
    });         
  </script>
  {% if messages %}
  {% for message in messages %}
  <script>
    toastr.success('{{message}}')
  </script>
  {% endfor %}
  {% endif %}
  {% endblock%}