{% extends 'layout/dashboard/index.html' %} {% load staticfiles %}  {% load widget_tweaks %} {% block content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Add Calon
            <small>Template</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Add Calon</a>
                </li>
                <li class="active">Template</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            Add Calon 
                        </div>
                        <div class="col-sm-3 col-sm-3">
                            <img src="{% static 'images/icon.png' %}" id="picture" alt="" style="width: 100%; height: auto;">
                            <button class="btn btn-success btn-block" style="margin-top: 8px; margin-bottom: 8px;" onclick="document.getElementById('fileInput').click();">Upload Gambar <i class="fa fa-upload"></i>
                            </button>
                        </div>
                        <div class="box-body">
                            <form  action="{% url 'data_calon:save_calon'%}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-md-4">   
                                        <div class="form-group">
                                            <label for="" class="control-label">Nomor Induk Pekerja</label>
                                            <input type="text" class="form-control" name="nip"  required>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">Nama Perusahaan</label>
                                            <input type="text" class="form-control" name="nama_ptp"  required>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">Nama Pekerja</label>
                                            <input type="text" class="form-control" name="nama"  required>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">Visi</label>
                                            <textarea name="visi" rows="3" class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="control-label">Misi</label>
                                            <textarea name="misi" rows="3" class="form-control" required></textarea>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <input id="fileInput" name='picture' type="file" style="display:none;" accept="image/*" value="" />
                                        </div>

                                        <div align="right">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $('#date').datepicker();

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#picture').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#fileInput").change(function () {
            readURL(this);
        });        
    </script>
{% endblock %}
