
{% extends 'layout/login/index.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  {% block content %} 
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container">
        <h2></h2>
        <h6 style="text-align: justify"></h6>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 align="center"><b>Federasi Perjuangan Buruh Indonesia</b></h2>
            <div class="box box-default">
              <div class="box-body">
                <img src="../../../media/picture/1.jpg" style="width: 540px ; height: 300px ; ">
              </div>
              
            </div>
             <h2 align="center"><b>Visi</b></h2>
              <h4 align="justify" style=""><b>
                1. Memperjuangkan terwujudnya masyarakat pekerja yang di perlakukan secara adil, hidup sejahtera dan bermartabat.
                <br>
                <br>
              2. Membangun serikat pekerja yang demokratis, bebas, representative, independen, dalam mewujudkan kesejahteraan dan keadilan sosial.</b></h4>
          </div>
          <div class="col-md-6">
            <div class="box-title">
             
              <h2 align="pull-left">Misi</h2>
              <h4 align="justify"><b>                          
               <p>1. Meningkatkan kualitas kehidupan dan penghidupan pekerja Indonesia dan keluarga yang layak bagi kemanusiaan yang adil dan beradab.</p>
                <p> 2. Meningkatkan rasa kesetiakawanan  dan persaudaraan kaum pekerja dan keluarganya.</p>
                <p>3. Meningktakan produktifitas kerja, syarat – syarat kerja, dan kondisi kerja  </p>
                <p>4. Mempunyai komitmen yang kuat terhadap perjuangan serikat pekerja untuk mendorong penegakkan hokum dibidang ketenagakerjaan dengan ikut mengawasi serta melaporkan aparat penegak hokum dari perilaku bermasalah dan korupsi.</p>
              <p>5. Mendorong kepemimpinan FPBI yang mempunyai kemampuan membangun solidaritas dan soliditas terhadap seluruh pekerja anggota yang memiliki integritas kepribadian yang baik, keunggulan moral, amanah, dan profesional dibidang ketenagakerjaan.</b><p>
              </h4>
            </div>

          </div>
          
        </div>
        <!-- /.row -->
        {% if messages %} {% for message in messages %} {% if message.tags == 'warning' %}
        <script>
          toastr.error('{{message}}')
        </script>
        {% endif %} {% endfor %} {% endif %}
        {% endblock %}
      </body>
      {% include "base/footer.html" %}
