{% extends 'layout/dashboard/index.html' %} {% block content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Data
            <small>Hasil</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Hasil</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
              
<div class="box">
  <div class="box-body">

    <div class="box-header">

      <h3 class="box-title">Nilai Data Awal</h3> 

   </div>
   <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama Pekerja</th>
        <th>PKO</th>
        <th>Disiplin</th>
        <th>Kesehatan</th>
        <th>Psikotes</th>
        <th>Peta Dua</th>

      </tr>
    </thead>
    <tbody>
    {% comment %} Pekerja {% endcomment %}
      {% for kl in dataawal %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{kl.nama}}</td>
        <td>{{kl.Pkos.nilai}}</td>
        <td>{{kl.Disiplins.nilai}}</td>
        <td>{{kl.Kesehatans.nilai}}</td>
        <td>{{kl.Psikotess.nilai}}</td>
        <td>{{kl.Petaduas.nilai}}</td>
       
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example1').DataTable( {
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50,]]
        } );
    } );
</script>
{% endblock %}